---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/books/v1/rest?key=AIzaSyBz_mQZSHuKOrni54iGJvyJIT6Jb3oS1cA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"DsY8aw3zSOMYNAy_X4JnK21hrvA/YGuTt7-cIsEjtiWFLKZcV41rRhE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"discovery#restDescription\",\n \"etag\": \"\\\"DsY8aw3zSOMYNAy_X4JnK21hrvA/YGuTt7-cIsEjtiWFLKZcV41rRhE\\\"\",\n
        \"discoveryVersion\": \"v1\",\n \"id\": \"books:v1\",\n \"name\": \"books\",\n
        \"version\": \"v1\",\n \"revision\": \"20130409\",\n \"title\": \"Books API\",\n
        \"description\": \"Lets you search for books and manage your Google Books
        library.\",\n \"ownerDomain\": \"google.com\",\n \"ownerName\": \"Google\",\n
        \"icons\": {\n  \"x16\": \"http://www.google.com/images/icons/product/ebooks-16.png\",\n
        \ \"x32\": \"http://www.google.com/images/icons/product/ebooks-32.png\"\n
        },\n \"documentationLink\": \"https://developers.google.com/books/docs/v1/getting_started\",\n
        \"protocol\": \"rest\",\n \"baseUrl\": \"https://www.googleapis.com/books/v1/\",\n
        \"basePath\": \"/books/v1/\",\n \"rootUrl\": \"https://www.googleapis.com/\",\n
        \"servicePath\": \"books/v1/\",\n \"batchPath\": \"batch\",\n \"parameters\":
        {\n  \"alt\": {\n   \"type\": \"string\",\n   \"description\": \"Data format
        for the response.\",\n   \"default\": \"json\",\n   \"enum\": [\n    \"json\"\n
        \  ],\n   \"enumDescriptions\": [\n    \"Responses with Content-Type of application/json\"\n
        \  ],\n   \"location\": \"query\"\n  },\n  \"fields\": {\n   \"type\": \"string\",\n
        \  \"description\": \"Selector specifying which fields to include in a partial
        response.\",\n   \"location\": \"query\"\n  },\n  \"key\": {\n   \"type\":
        \"string\",\n   \"description\": \"API key. Your API key identifies your project
        and provides you with API access, quota, and reports. Required unless you
        provide an OAuth 2.0 token.\",\n   \"location\": \"query\"\n  },\n  \"oauth_token\":
        {\n   \"type\": \"string\",\n   \"description\": \"OAuth 2.0 token for the
        current user.\",\n   \"location\": \"query\"\n  },\n  \"prettyPrint\": {\n
        \  \"type\": \"boolean\",\n   \"description\": \"Returns response with indentations
        and line breaks.\",\n   \"default\": \"true\",\n   \"location\": \"query\"\n
        \ },\n  \"quotaUser\": {\n   \"type\": \"string\",\n   \"description\": \"Available
        to use for quota purposes for server-side applications. Can be any arbitrary
        string assigned to a user, but should not exceed 40 characters. Overrides
        userIp if both are provided.\",\n   \"location\": \"query\"\n  },\n  \"userIp\":
        {\n   \"type\": \"string\",\n   \"description\": \"IP address of the site
        where the request originates. Use this if you want to enforce per-user limits.\",\n
        \  \"location\": \"query\"\n  }\n },\n \"auth\": {\n  \"oauth2\": {\n   \"scopes\":
        {\n    \"https://www.googleapis.com/auth/books\": {\n     \"description\":
        \"Manage your books\"\n    }\n   }\n  }\n },\n \"schemas\": {\n  \"Annotation\":
        {\n   \"id\": \"Annotation\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"afterSelectedText\": {\n     \"type\": \"string\",\n     \"description\":
        \"Anchor text after excerpt. For requests, if the user bookmarked a screen
        that has no flowing text on it, then this field should be empty.\"\n    },\n
        \   \"beforeSelectedText\": {\n     \"type\": \"string\",\n     \"description\":
        \"Anchor text before excerpt. For requests, if the user bookmarked a screen
        that has no flowing text on it, then this field should be empty.\"\n    },\n
        \   \"clientVersionRanges\": {\n     \"type\": \"object\",\n     \"description\":
        \"Selection ranges sent from the client.\",\n     \"properties\": {\n      \"cfiRange\":
        {\n       \"$ref\": \"BooksAnnotationsRange\",\n       \"description\": \"Range
        in CFI format for this annotation sent by client.\"\n      },\n      \"contentVersion\":
        {\n       \"type\": \"string\",\n       \"description\": \"Content version
        the client sent in.\"\n      },\n      \"gbImageRange\": {\n       \"$ref\":
        \"BooksAnnotationsRange\",\n       \"description\": \"Range in GB image format
        for this annotation sent by client.\"\n      },\n      \"gbTextRange\": {\n
        \      \"$ref\": \"BooksAnnotationsRange\",\n       \"description\": \"Range
        in GB text format for this annotation sent by client.\"\n      },\n      \"imageCfiRange\":
        {\n       \"$ref\": \"BooksAnnotationsRange\",\n       \"description\": \"Range
        in image CFI format for this annotation sent by client.\"\n      }\n     }\n
        \   },\n    \"created\": {\n     \"type\": \"string\",\n     \"description\":
        \"Timestamp for the created time of this annotation.\",\n     \"format\":
        \"date-time\"\n    },\n    \"currentVersionRanges\": {\n     \"type\": \"object\",\n
        \    \"description\": \"Selection ranges for the most recent content version.\",\n
        \    \"properties\": {\n      \"cfiRange\": {\n       \"$ref\": \"BooksAnnotationsRange\",\n
        \      \"description\": \"Range in CFI format for this annotation for version
        above.\"\n      },\n      \"contentVersion\": {\n       \"type\": \"string\",\n
        \      \"description\": \"Content version applicable to ranges below.\"\n
        \     },\n      \"gbImageRange\": {\n       \"$ref\": \"BooksAnnotationsRange\",\n
        \      \"description\": \"Range in GB image format for this annotation for
        version above.\"\n      },\n      \"gbTextRange\": {\n       \"$ref\": \"BooksAnnotationsRange\",\n
        \      \"description\": \"Range in GB text format for this annotation for
        version above.\"\n      },\n      \"imageCfiRange\": {\n       \"$ref\": \"BooksAnnotationsRange\",\n
        \      \"description\": \"Range in image CFI format for this annotation for
        version above.\"\n      }\n     }\n    },\n    \"data\": {\n     \"type\":
        \"string\",\n     \"description\": \"User-created data for this annotation.\"\n
        \   },\n    \"deleted\": {\n     \"type\": \"boolean\",\n     \"description\":
        \"Indicates that this annotation is deleted.\"\n    },\n    \"highlightStyle\":
        {\n     \"type\": \"string\",\n     \"description\": \"The highlight style
        for this annotation.\"\n    },\n    \"id\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Id of this annotation, in the form of a GUID.\"\n
        \   },\n    \"kind\": {\n     \"type\": \"string\",\n     \"description\":
        \"Resource type.\",\n     \"default\": \"books#annotation\"\n    },\n    \"layerId\":
        {\n     \"type\": \"string\",\n     \"description\": \"The layer this annotation
        is for.\"\n    },\n    \"pageIds\": {\n     \"type\": \"array\",\n     \"description\":
        \"Pages that this annotation spans.\",\n     \"items\": {\n      \"type\":
        \"string\"\n     }\n    },\n    \"selectedText\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Excerpt from the volume.\"\n    },\n    \"selfLink\":
        {\n     \"type\": \"string\",\n     \"description\": \"URL to this resource.\"\n
        \   },\n    \"updated\": {\n     \"type\": \"string\",\n     \"description\":
        \"Timestamp for the last time this annotation was modified.\",\n     \"format\":
        \"date-time\"\n    },\n    \"volumeId\": {\n     \"type\": \"string\",\n     \"description\":
        \"The volume that this annotation belongs to.\"\n    }\n   }\n  },\n  \"Annotationdata\":
        {\n   \"id\": \"Annotationdata\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"annotationType\": {\n     \"type\": \"string\",\n     \"description\":
        \"The type of annotation this data is for.\"\n    },\n    \"data\": {\n     \"type\":
        \"any\"\n    },\n    \"encoded_data\": {\n     \"type\": \"string\",\n     \"description\":
        \"Base64 encoded data for this annotation data.\",\n     \"format\": \"byte\"\n
        \   },\n    \"id\": {\n     \"type\": \"string\",\n     \"description\": \"Unique
        id for this annotation data.\"\n    },\n    \"kind\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Resource Type\",\n     \"default\": \"books#annotationdata\"\n
        \   },\n    \"layerId\": {\n     \"type\": \"string\",\n     \"description\":
        \"The Layer id for this data. *\"\n    },\n    \"selfLink\": {\n     \"type\":
        \"string\",\n     \"description\": \"URL for this resource. *\"\n    },\n
        \   \"updated\": {\n     \"type\": \"string\",\n     \"description\": \"Timestamp
        for the last time this data was updated. (RFC 3339 UTC date-time format).\",\n
        \    \"format\": \"date-time\"\n    },\n    \"volumeId\": {\n     \"type\":
        \"string\",\n     \"description\": \"The volume id for this data. *\"\n    }\n
        \  }\n  },\n  \"Annotations\": {\n   \"id\": \"Annotations\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"items\": {\n     \"type\": \"array\",\n
        \    \"description\": \"A list of annotations.\",\n     \"items\": {\n      \"$ref\":
        \"Annotation\"\n     }\n    },\n    \"kind\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Resource type.\",\n     \"default\": \"books#annotations\"\n
        \   },\n    \"nextPageToken\": {\n     \"type\": \"string\",\n     \"description\":
        \"Token to pass in for pagination for the next page. This will not be present
        if this request does not have more results.\"\n    },\n    \"totalItems\":
        {\n     \"type\": \"integer\",\n     \"description\": \"Total number of annotations
        found. This may be greater than the number of notes returned in this response
        if results have been paginated.\",\n     \"format\": \"int32\"\n    }\n   }\n
        \ },\n  \"Annotationsdata\": {\n   \"id\": \"Annotationsdata\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"items\": {\n     \"type\": \"array\",\n
        \    \"description\": \"A list of Annotation Data.\",\n     \"items\": {\n
        \     \"$ref\": \"Annotationdata\"\n     }\n    },\n    \"kind\": {\n     \"type\":
        \"string\",\n     \"description\": \"Resource type\",\n     \"default\": \"books#annotationsdata\"\n
        \   },\n    \"nextPageToken\": {\n     \"type\": \"string\",\n     \"description\":
        \"Token to pass in for pagination for the next page. This will not be present
        if this request does not have more results.\"\n    },\n    \"totalItems\":
        {\n     \"type\": \"integer\",\n     \"description\": \"The total number of
        volume annotations found.\",\n     \"format\": \"int32\"\n    }\n   }\n  },\n
        \ \"BooksAnnotationsRange\": {\n   \"id\": \"BooksAnnotationsRange\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"endOffset\": {\n     \"type\": \"string\",\n
        \    \"description\": \"The offset from the ending position.\"\n    },\n    \"endPosition\":
        {\n     \"type\": \"string\",\n     \"description\": \"The ending position
        for the range.\"\n    },\n    \"startOffset\": {\n     \"type\": \"string\",\n
        \    \"description\": \"The offset from the starting position.\"\n    },\n
        \   \"startPosition\": {\n     \"type\": \"string\",\n     \"description\":
        \"The starting position for the range.\"\n    }\n   }\n  },\n  \"BooksCloudloadingResource\":
        {\n   \"id\": \"BooksCloudloadingResource\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"author\": {\n     \"type\": \"string\"\n    },\n    \"processingState\":
        {\n     \"type\": \"string\"\n    },\n    \"title\": {\n     \"type\": \"string\"\n
        \   },\n    \"volumeId\": {\n     \"type\": \"string\"\n    }\n   }\n  },\n
        \ \"BooksLayerDictData\": {\n   \"id\": \"BooksLayerDictData\",\n   \"type\":
        \"object\",\n   \"properties\": {\n    \"common\": {\n     \"type\": \"object\",\n
        \    \"properties\": {\n      \"title\": {\n       \"type\": \"string\",\n
        \      \"description\": \"The display title and localized canonical name to
        use when searching for this entity on Google search.\"\n      }\n     }\n
        \   },\n    \"dict\": {\n     \"type\": \"object\",\n     \"properties\":
        {\n      \"source\": {\n       \"type\": \"object\",\n       \"description\":
        \"The source, url and attribution for this dictionary data.\",\n       \"properties\":
        {\n        \"attribution\": {\n         \"type\": \"string\"\n        },\n
        \       \"url\": {\n         \"type\": \"string\"\n        }\n       }\n      },\n
        \     \"words\": {\n       \"type\": \"array\",\n       \"items\": {\n        \"type\":
        \"object\",\n        \"properties\": {\n         \"derivatives\": {\n          \"type\":
        \"array\",\n          \"items\": {\n           \"type\": \"object\",\n           \"properties\":
        {\n            \"source\": {\n             \"type\": \"object\",\n             \"properties\":
        {\n              \"attribution\": {\n               \"type\": \"string\"\n
        \             },\n              \"url\": {\n               \"type\": \"string\"\n
        \             }\n             }\n            },\n            \"text\": {\n
        \            \"type\": \"string\"\n            }\n           }\n          }\n
        \        },\n         \"examples\": {\n          \"type\": \"array\",\n          \"items\":
        {\n           \"type\": \"object\",\n           \"properties\": {\n            \"source\":
        {\n             \"type\": \"object\",\n             \"properties\": {\n              \"attribution\":
        {\n               \"type\": \"string\"\n              },\n              \"url\":
        {\n               \"type\": \"string\"\n              }\n             }\n
        \           },\n            \"text\": {\n             \"type\": \"string\"\n
        \           }\n           }\n          }\n         },\n         \"senses\":
        {\n          \"type\": \"array\",\n          \"items\": {\n           \"type\":
        \"object\",\n           \"properties\": {\n            \"conjugations\": {\n
        \            \"type\": \"array\",\n             \"items\": {\n              \"type\":
        \"object\",\n              \"properties\": {\n               \"type\": {\n
        \               \"type\": \"string\"\n               },\n               \"value\":
        {\n                \"type\": \"string\"\n               }\n              }\n
        \            }\n            },\n            \"definitions\": {\n             \"type\":
        \"array\",\n             \"items\": {\n              \"type\": \"object\",\n
        \             \"properties\": {\n               \"definition\": {\n                \"type\":
        \"string\"\n               },\n               \"examples\": {\n                \"type\":
        \"array\",\n                \"items\": {\n                 \"type\": \"object\",\n
        \                \"properties\": {\n                  \"source\": {\n                   \"type\":
        \"object\",\n                   \"properties\": {\n                    \"attribution\":
        {\n                     \"type\": \"string\"\n                    },\n                    \"url\":
        {\n                     \"type\": \"string\"\n                    }\n                   }\n
        \                 },\n                  \"text\": {\n                   \"type\":
        \"string\"\n                  }\n                 }\n                }\n               }\n
        \             }\n             }\n            },\n            \"partOfSpeech\":
        {\n             \"type\": \"string\"\n            },\n            \"pronunciation\":
        {\n             \"type\": \"string\"\n            },\n            \"pronunciationUrl\":
        {\n             \"type\": \"string\"\n            },\n            \"source\":
        {\n             \"type\": \"object\",\n             \"properties\": {\n              \"attribution\":
        {\n               \"type\": \"string\"\n              },\n              \"url\":
        {\n               \"type\": \"string\"\n              }\n             }\n
        \           },\n            \"syllabification\": {\n             \"type\":
        \"string\"\n            },\n            \"synonyms\": {\n             \"type\":
        \"array\",\n             \"items\": {\n              \"type\": \"object\",\n
        \             \"properties\": {\n               \"source\": {\n                \"type\":
        \"object\",\n                \"properties\": {\n                 \"attribution\":
        {\n                  \"type\": \"string\"\n                 },\n                 \"url\":
        {\n                  \"type\": \"string\"\n                 }\n                }\n
        \              },\n               \"text\": {\n                \"type\": \"string\"\n
        \              }\n              }\n             }\n            }\n           }\n
        \         }\n         },\n         \"source\": {\n          \"type\": \"object\",\n
        \         \"description\": \"The words with different meanings but not related
        words, e.g. \\\"go\\\" (game) and \\\"go\\\" (verb).\",\n          \"properties\":
        {\n           \"attribution\": {\n            \"type\": \"string\"\n           },\n
        \          \"url\": {\n            \"type\": \"string\"\n           }\n          }\n
        \        }\n        }\n       }\n      }\n     }\n    }\n   }\n  },\n  \"BooksLayerGeoData\":
        {\n   \"id\": \"BooksLayerGeoData\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"common\": {\n     \"type\": \"object\",\n     \"properties\": {\n
        \     \"lang\": {\n       \"type\": \"string\",\n       \"description\": \"The
        language of the information url and description.\"\n      },\n      \"previewImageUrl\":
        {\n       \"type\": \"string\",\n       \"description\": \"The URL for the
        preview image information.\"\n      },\n      \"snippet\": {\n       \"type\":
        \"string\",\n       \"description\": \"The description for this location.\"\n
        \     },\n      \"snippetUrl\": {\n       \"type\": \"string\",\n       \"description\":
        \"The URL for information for this location. Ex: wikipedia link.\"\n      },\n
        \     \"title\": {\n       \"type\": \"string\",\n       \"description\":
        \"The display title and localized canonical name to use when searching for
        this entity on Google search.\"\n      }\n     }\n    },\n    \"geo\": {\n
        \    \"type\": \"object\",\n     \"properties\": {\n      \"boundary\": {\n
        \      \"type\": \"array\",\n       \"description\": \"The boundary of the
        location as a set of loops containing pairs of latitude, longitude coordinates.\",\n
        \      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n
        \        \"type\": \"object\",\n         \"properties\": {\n          \"latitude\":
        {\n           \"type\": \"integer\",\n           \"format\": \"uint32\"\n
        \         },\n          \"longitude\": {\n           \"type\": \"integer\",\n
        \          \"format\": \"uint32\"\n          }\n         }\n        }\n       }\n
        \     },\n      \"cachePolicy\": {\n       \"type\": \"string\",\n       \"description\":
        \"The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER\"\n
        \     },\n      \"countryCode\": {\n       \"type\": \"string\",\n       \"description\":
        \"The country code of the location.\"\n      },\n      \"latitude\": {\n       \"type\":
        \"number\",\n       \"description\": \"The latitude of the location.\",\n
        \      \"format\": \"double\"\n      },\n      \"longitude\": {\n       \"type\":
        \"number\",\n       \"description\": \"The longitude of the location.\",\n
        \      \"format\": \"double\"\n      },\n      \"mapType\": {\n       \"type\":
        \"string\",\n       \"description\": \"The type of map that should be used
        for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN\"\n      },\n      \"viewport\":
        {\n       \"type\": \"object\",\n       \"description\": \"The viewport for
        showing this location. This is a latitude, longitude rectangle.\",\n       \"properties\":
        {\n        \"hi\": {\n         \"type\": \"object\",\n         \"properties\":
        {\n          \"latitude\": {\n           \"type\": \"number\",\n           \"format\":
        \"double\"\n          },\n          \"longitude\": {\n           \"type\":
        \"number\",\n           \"format\": \"double\"\n          }\n         }\n
        \       },\n        \"lo\": {\n         \"type\": \"object\",\n         \"properties\":
        {\n          \"latitude\": {\n           \"type\": \"number\",\n           \"format\":
        \"double\"\n          },\n          \"longitude\": {\n           \"type\":
        \"number\",\n           \"format\": \"double\"\n          }\n         }\n
        \       }\n       }\n      },\n      \"zoom\": {\n       \"type\": \"integer\",\n
        \      \"description\": \"The Zoom level to use for the map. Zoom levels between
        0 (the lowest zoom level, in which the entire world can be seen on one map)
        to 21+ (down to individual buildings). See: https://developers.google.com/maps/documentation/staticmaps/#Zoomlevels\",\n
        \      \"format\": \"int32\"\n      }\n     }\n    }\n   }\n  },\n  \"Bookshelf\":
        {\n   \"id\": \"Bookshelf\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"access\": {\n     \"type\": \"string\",\n     \"description\": \"Whether
        this bookshelf is PUBLIC or PRIVATE.\"\n    },\n    \"created\": {\n     \"type\":
        \"string\",\n     \"description\": \"Created time for this bookshelf (formatted
        UTC timestamp with millisecond resolution).\",\n     \"format\": \"date-time\"\n
        \   },\n    \"description\": {\n     \"type\": \"string\",\n     \"description\":
        \"Description of this bookshelf.\"\n    },\n    \"id\": {\n     \"type\":
        \"integer\",\n     \"description\": \"Id of this bookshelf, only unique by
        user.\",\n     \"format\": \"int32\"\n    },\n    \"kind\": {\n     \"type\":
        \"string\",\n     \"description\": \"Resource type for bookshelf metadata.\",\n
        \    \"default\": \"books#bookshelf\"\n    },\n    \"selfLink\": {\n     \"type\":
        \"string\",\n     \"description\": \"URL to this resource.\"\n    },\n    \"title\":
        {\n     \"type\": \"string\",\n     \"description\": \"Title of this bookshelf.\"\n
        \   },\n    \"updated\": {\n     \"type\": \"string\",\n     \"description\":
        \"Last modified time of this bookshelf (formatted UTC timestamp with millisecond
        resolution).\",\n     \"format\": \"date-time\"\n    },\n    \"volumeCount\":
        {\n     \"type\": \"integer\",\n     \"description\": \"Number of volumes
        in this bookshelf.\",\n     \"format\": \"int32\"\n    },\n    \"volumesLastUpdated\":
        {\n     \"type\": \"string\",\n     \"description\": \"Last time a volume
        was added or removed from this bookshelf (formatted UTC timestamp with millisecond
        resolution).\",\n     \"format\": \"date-time\"\n    }\n   }\n  },\n  \"Bookshelves\":
        {\n   \"id\": \"Bookshelves\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"items\": {\n     \"type\": \"array\",\n     \"description\": \"A
        list of bookshelves.\",\n     \"items\": {\n      \"$ref\": \"Bookshelf\"\n
        \    }\n    },\n    \"kind\": {\n     \"type\": \"string\",\n     \"description\":
        \"Resource type.\",\n     \"default\": \"books#bookshelves\"\n    }\n   }\n
        \ },\n  \"ConcurrentAccessRestriction\": {\n   \"id\": \"ConcurrentAccessRestriction\",\n
        \  \"type\": \"object\",\n   \"properties\": {\n    \"deviceAllowed\": {\n
        \    \"type\": \"boolean\",\n     \"description\": \"Whether access is granted
        for this (user, device, volume).\"\n    },\n    \"kind\": {\n     \"type\":
        \"string\",\n     \"description\": \"Resource type.\",\n     \"default\":
        \"books#concurrentAccessRestriction\"\n    },\n    \"maxConcurrentDevices\":
        {\n     \"type\": \"integer\",\n     \"description\": \"The maximum number
        of concurrent access licenses for this volume.\",\n     \"format\": \"int32\"\n
        \   },\n    \"message\": {\n     \"type\": \"string\",\n     \"description\":
        \"Error/warning message.\"\n    },\n    \"nonce\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Client nonce for verification. Download access and
        client-validation only.\"\n    },\n    \"reasonCode\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Error/warning reason code.\"\n    },\n    \"restricted\":
        {\n     \"type\": \"boolean\",\n     \"description\": \"Whether this volume
        has any concurrent access restrictions.\"\n    },\n    \"signature\": {\n
        \    \"type\": \"string\",\n     \"description\": \"Response signature.\"\n
        \   },\n    \"source\": {\n     \"type\": \"string\",\n     \"description\":
        \"Client app identifier for verification. Download access and client-validation
        only.\"\n    },\n    \"timeWindowSeconds\": {\n     \"type\": \"integer\",\n
        \    \"description\": \"Time in seconds for license auto-expiration.\",\n
        \    \"format\": \"int32\"\n    },\n    \"volumeId\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Identifies the volume for which this entry applies.\"\n
        \   }\n   }\n  },\n  \"DownloadAccessRestriction\": {\n   \"id\": \"DownloadAccessRestriction\",\n
        \  \"type\": \"object\",\n   \"properties\": {\n    \"deviceAllowed\": {\n
        \    \"type\": \"boolean\",\n     \"description\": \"If restricted, whether
        access is granted for this (user, device, volume).\"\n    },\n    \"downloadsAcquired\":
        {\n     \"type\": \"integer\",\n     \"description\": \"If restricted, the
        number of content download licenses already acquired (including the requesting
        client, if licensed).\",\n     \"format\": \"int32\"\n    },\n    \"justAcquired\":
        {\n     \"type\": \"boolean\",\n     \"description\": \"If deviceAllowed,
        whether access was just acquired with this request.\"\n    },\n    \"kind\":
        {\n     \"type\": \"string\",\n     \"description\": \"Resource type.\",\n
        \    \"default\": \"books#downloadAccessRestriction\"\n    },\n    \"maxDownloadDevices\":
        {\n     \"type\": \"integer\",\n     \"description\": \"If restricted, the
        maximum number of content download licenses for this volume.\",\n     \"format\":
        \"int32\"\n    },\n    \"message\": {\n     \"type\": \"string\",\n     \"description\":
        \"Error/warning message.\"\n    },\n    \"nonce\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Client nonce for verification. Download access and
        client-validation only.\"\n    },\n    \"reasonCode\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Error/warning reason code. Additional codes may be
        added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT
        200 WARNING_USED_LAST_ACCESS\"\n    },\n    \"restricted\": {\n     \"type\":
        \"boolean\",\n     \"description\": \"Whether this volume has any download
        access restrictions.\"\n    },\n    \"signature\": {\n     \"type\": \"string\",\n
        \    \"description\": \"Response signature.\"\n    },\n    \"source\": {\n
        \    \"type\": \"string\",\n     \"description\": \"Client app identifier
        for verification. Download access and client-validation only.\"\n    },\n
        \   \"volumeId\": {\n     \"type\": \"string\",\n     \"description\": \"Identifies
        the volume for which this entry applies.\"\n    }\n   }\n  },\n  \"DownloadAccesses\":
        {\n   \"id\": \"DownloadAccesses\",\n   \"type\": \"object\",\n   \"properties\":
        {\n    \"downloadAccessList\": {\n     \"type\": \"array\",\n     \"description\":
        \"A list of download access responses.\",\n     \"items\": {\n      \"$ref\":
        \"DownloadAccessRestriction\"\n     }\n    },\n    \"kind\": {\n     \"type\":
        \"string\",\n     \"description\": \"Resource type.\",\n     \"default\":
        \"books#downloadAccesses\"\n    }\n   }\n  },\n  \"Layersummaries\": {\n   \"id\":
        \"Layersummaries\",\n   \"type\": \"object\",\n   \"properties\": {\n    \"items\":
        {\n     \"type\": \"array\",\n     \"description\": \"A list of layer summary
        items.\",\n     \"items\": {\n      \"$ref\": \"Layersummary\"\n     }\n    },\n
        \   \"kind\": {\n     \"type\": \"string\",\n     \"description\": \"Resource
        type.\",\n     \"default\": \"books#layersummaries\"\n    },\n    \"totalItems\":
        {\n     \"type\": \"integer\",\n     \"description\": \"The total number of
[...]
